/* DESKTOP */
/* ....... */
/* ....... */



/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana;
	font-size: 62.5%; /* Base 10px */
}

header {
	font-size: 2em;
}

li {
	color: white;
	display: inline-block;
}

img {
	padding: 0;
	width: 100%;
	vertical-align: middle;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #00b9eb;
}


/* Layout */
/* ...... */
/* ...... */


/* ACCUEIL */

/* Header */

.contain_menu_front {
	padding-top: 13px;
	padding-bottom: 13px;
	list-style-type: none;
	background-color: #131418;
	text-align: center;
}

.menu {
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

.slider {
	position: relative;
	height: 100%;
}

.filter {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(40, 69, 44, 0.5);
}


/* Main */

.banner {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 2em;
	color: #131418;
	box-shadow: 0px 4px 5px #d4d4d4;
}

.article_view {
	margin-top: 100px;
	text-align: center;
}

.title_article_view {
	font-size: 2em;
}

.text_article_view {
	font-size: 1.7em;
}


/* TICKET */

.article_ticket_view {
	margin: auto;
	text-align: center;
}

.ticket_view {
	display: inline-block;
	margin-top: 50px;
	width: 200px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 4px 5px #d4d4d4;
}

.ticket_view figure {
	height: 50%;
	overflow: hidden;
	border-radius: 5px;
}

.ticket_view h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 2em;
	color: #131418;
}

.ticket_view p {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.5em;
	color: #131418;
}

.ticket_view_button {
	padding: 10px;
	width: 100%;
	font-size: 2em;
}


/* TICKET ALL (DETAIL)*/

.ticket_view_all_article {
	text-align: center;
}

.ticket_view_all_text {
	margin-top: 25px;
	padding-top: 20px;
}

.ticket_view_all_com {
	margin-top: 100px;
	text-align: center;
	font-size: 1.5em;
}

.ticket_view_all_com section {
	margin-top: 25px;
}

.commentary_section_view_all {
	border-bottom: 1px solid gray;
	margin-top: 25px;
}

.commentary_section_view_all h3 {
	margin-top: 25px;
}

.commentary_section_view_all p {
	margin-top: 25px;
}

.commentary_form_view_all {
	padding-top: 25px;
}

.commentary_form_view_all h3 {
	margin-bottom: 10px;
}

.commentary_form_view_all form {
	margin: auto;
	max-width: 1200px;
}

.captcha_resizing {
	margin-bottom: 10px;
	max-width: 75px;
}

.commentary_form_view_all input {
	margin: auto;
	margin-bottom: 10px; 
	display: block;
}

.error_messages {
	font-weight: bold;
	color: red;
}


/* CONTACT */

.contact_form {
	margin: auto;
	margin-top: 50px;
	max-width: 500px;
	font-size: 2em;
	text-align: left;
}

.contact_form input {
	margin-bottom: 25px;
	width: 100%;
}


/* LOG BACKOFFICE */

.background_body {
	background-color: #f1f1f1;
}

.connexion_section {
	margin: auto;
	margin-top: 5%;
	width: 350px;
	height: 100%;
	font-size: 2em;
}

.image_connexion_bo {
	margin-bottom: 35px;
}

.connexion_form {
	padding-top: 35px;
	padding-bottom: 50px;
	font-size: 0.7em;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.connexion_p {
	margin-left: 24px;
	margin-bottom: 3px;
	width: 85%;
	text-align: left;
	color: #72777c;
}

.input_connexion_bo {
	margin-left: 24px;
	margin-bottom: 20px;
	width: 85%;
	font-size: 2em;
	background-color: #fbfbfb;
	border: none;
	border: 1px solid #dddddd;
	box-shadow: 0px 2px 5px #d4d4d4;
}

.container_checkbox {
	margin-top: 20px;
	margin-left: 24px;
	width: 85%;
}

.input_checkbox_bo {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.checkbox_p {
	display: inline;
	color: #72777c;
}

.input_submit_bo {
	margin-left: 19px;
}

.error_bo {
	margin-top: 10px;
	text-align: center;
	color: #d50a0a;
}


/* BACKOFFICE */

.header_backoffice {
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #23282d;
}

.container_img_backoffice {
	margin: auto;
	max-width: 145px;
}

.menu_backoffice {
	position: fixed;
	margin-top: 100px;
	width: 200px;
	height: 837px;
	background-color: #23282d;
}

.tab_backoffice {
	padding-left: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	font-size: 1.5em;
	background-color: #23282d;
	color: white;
	cursor: pointer;
	border-top: 1px solid white;
}

.logo_tab_backoffice {
	width: 25px;
	display: inline;
}

.text_tab_backoffice {
	display: inline;
}

.contain_backoffice {
	margin-left: 200px;
	padding-top: 110px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 1000px;
	font-size: 2em;
}

#information_popup_backoffice {
	display: none;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #23282d;
	color: #00b9eb;
}

.category_backoffice {
	display: inline-block;
	margin-top: 20px;
	padding: 5px;
	cursor: pointer;
	background-color: #23282d;
	color: white;
	border-radius: 5px;
}

.contain_ticket_backoffice {
	text-align: center;
	overflow: hidden;
}

.title_ticket_backoffice {
	margin-bottom: 25px;
	color: #23282d;
}

.name_ticket_backoffice {
	margin-bottom: 10px;
}

.ticket_button_backoffice {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ticket_listing_backoffice {
	text-align: center;
	overflow: hidden;
}

.ticket_listing_backoffice h2 {
	margin-bottom: 25px;
}

.ticket_backoffice {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 20px;
	background-color: #23282d;
	color: white;
	text-align: center;
}

.ticket_backoffice h3 {
	margin-bottom: 20px;
}

.menu_backoffice_mobile {
	display: none;
}


/* BACKOFFICE VIEW FULL */

.ticket_backoffcie_view {
	text-align: center;
}

.ticket_backoffcie_view_title {
	margin-bottom: 20px;
}

.ticket_backoffcie_view_text {
	background-color: white;
}


/* BACKOFFICE VIEW FULL MODIFY */

.modify_button_backoffice {
	margin-top: 20px;
}


/* BACKOFFICE COMMENT */

.reported_comment {
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-color: white;
	overflow: hidden;
}

.reported_comment p {
	margin-bottom: 25px;
}


/* Module (small content) */
/* ...................... */
/* ...................... */



/* State (state elements) */
/* ...................... */
/* ...................... */

/* LOG BACKOFFICE */

.button_style_blue:hover {
	background-color: #1a1e22;
	color: #00b9eb;
}


/* BACKOFFICE */

.tab_backoffice:hover {
	background-color: #191e23;
	color: #00b9eb;
}

.category_backoffice:hover {
	background-color: #1a1e22;
	color: #00b9eb;
}

.display_backoffice:hover {
	background-color: #1a1e22;
	color: #00b9eb;
}

.edit_backoffice:hover {
	background-color: #1a1e22;
	color: #00b9eb;
}

.delete_backoffice:hover {
	background-color: #1a1e22;
	color: #00b9eb;
}


/* Factored */
/* .................... */
/* .................... */

.button_style_blue {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
    background: #008ec2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.display_backoffice {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit_backoffice {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete_backoffice {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.title_color_backoffice {
	color: #00b9eb;
}

.input_text {
	padding: 5px;
}

.text_align_max_width{
	margin: auto;
	max-width: 1200px;
}


/* MOBILE VERSION */
/* .................... */
/* .................... */

@media screen and (max-width: 768px) {

	/* ACCUEIL */
	/* Header */

	.slider {
		display: none;
	}

	/* TICKET */
	.ticket_view input {
		font-size: 2em;
	}

	/* TICKET ALL (DETAIL) */
	.ticket_view_all_article {
		padding-right: 15px;
		padding-left: 15px;
	}

	/* BACKOFFICE MENU */
	.menu_backoffice {
		display: none;
	}

	.contain_backoffice {
		margin-left: 0;
		padding-top: 200px;
		padding-right: 10px;
	}

	.menu_backoffice_mobile {
		z-index: 3;
		position: fixed;
		width: 100%;
		padding-top: 100px;
		display: block;
		text-align: center;
	}

	.contain_menu_backoffice_mobile {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #23282d;
		font-size: 2em;
	}

	.contain_menu_backoffice_mobile li {
		margin-right: 20px;
		border-radius: 5px;
	}

	.button_style_blue {
		font-size: 0.8em;
	}
	

	/* Factored */
	/* .................... */
	/* .................... */
	.contain_menu_backoffice_mobile li:hover {
		background-color: #00b9eb;
	}
}